.container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   margin: 0 auto;
    margin-top: 20px;
    text-align: center;

    .cards{
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .card{
            margin: 0 auto;
            text-align: center;
            background-color:rgb(243, 243, 243);
            width: 48%;
            align-items:center ;
            justify-content: center;
            border: 1px solid white;

            h5{
margin-top: 20px;
            }
            p{
color: gray;
margin: 20px;
            }
            span{
   font-weight: 800;
            }

            img{
                width: 100px;
                
            }
        }
    }
}

@media screen and (min-width:700px) and (max-width:1024px) {
    .container{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    
     margin: 0 auto;
    margin-bottom: 30px;
     text-align: center;
    
        .cards{
            text-align: center;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            display: block;
          
    
            .card{
                text-align: center;
                background-color: rgb(228, 222, 222);
                width: 90%;
                align-items:center ;
                justify-content: center;
                border: 1px solid white;
    
                img{
                    width: 100px;
                    
                }
            }
        }
    }
    
}

@media screen and (min-width:300px) and (max-width:700px) {
    .container{
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    
     margin: 20px;
    margin-bottom: 30px;
     text-align: center;
    
        .cards{
            text-align: center;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            display: block;
          
    
            .card{
                text-align: center;
                background-color: rgb(228, 222, 222);
                width: 90%;
                align-items:center ;
                justify-content: center;
                border: 1px solid white;
    
                img{
                    width: 100px;
                    
                }
            }
        }
    }
    
}